@import "color";
@import "fonts2";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.page-container {
    .top-bar {
        width: 100%;
        color: white;
        background-color: $primary-blue;
        height: 48px;
        .fa-bars {
            margin-right: 20px; 
            vertical-align: top;
            margin: 16px 17px 16px 12px;
            font-size: 17px;
        }
        .to-do-text {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            font-weight: 500;
            margin: 17px 25% 17px 0;
            width: 3%;
        }
        .search-box {
            width: 29%;
            height: 32px;
            background-color: $search-box;
            display: inline-block;
            margin-top: 8px;
            margin-right: 24%;
            border-radius: 2px;
            .fa-search {
                margin-top: 8px;
                margin-left: 8px;
                color: $primary-blue;
            }
            &:hover {
                background-color: white;
            }
        }
        .fa-cog, .fa-question, .fa-comment-alt {
            vertical-align: top;
            font-size: 17px;
            margin: 16px 1.2% 0 1.2%;
        }
        .fa-user-circle {
            vertical-align: top;
            font-size: 30px;
            margin-top: 8px;
        }
    }
    .main-container {
        width: 100%;
        vertical-align: top;
        margin: 0;
        background-color: $primary-gray;
        .important-checked {
            color: $primary-blue
        }
        .hide-add-button {
            display: none;
        }
        .display-add-button {
            display: inline-block;
        }
        .category-container {
            padding-top: 70px;
            position: relative;
            vertical-align: top;
            margin: 0;
            width: 21.2%;
            height: 540px;
            background-color: $primary-gray;
            border: none;
            letter-spacing: 1px;
            display: inline-block;
            .category-list-container {
                list-style-type: none;
                padding-left: 0;
                margin: 0;
                font-size: 13px;
                color: $font-color;
                width: 100%;
                .current-element {
                    background-color: $list-selected !important;
                    font-weight: bold;
                    color: $primary-blue;
                }
                .list-element {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 100%;
                    .category-content {
                        display: inline-block;
                        vertical-align: top;
                        overflow: hidden;
                        width: 70%;
                    }
                    &:hover {
                        background-color: white;
                    }
                }
                .fa-sun, .fa-star, .fa-calendar-alt, .fa-user, .fa-home, .fa-list-ul {
                    padding-left: 16px;
                    width: 15%;
                }
            }
            .bottom-icons-container {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                color: #2e3033;
                .bottom-icon {
                    padding: 18px 6% 18px 6%;
                    font-size: 17px;
                }
            }
            .category-input-container {
                &:hover {
                    background-color: white !important;
                }
                .fa-plus {
                    padding: 8px 13px 8px 16px;
                    color: $primary-blue;
                }
                ::placeholder {
                    color: $primary-blue;
                }
                .category-input {
                    border: none;
                    background-color: $primary-gray;
                    padding-top: 13px;
                    padding-bottom: 12px;
                    &:hover {
                        background-color: white;
                    }
                }
                input:focus, textarea:focus, select:focus{
                    outline: none;
                }
            }
        }
        .full-width {
            width: 75%;
        }
        .half-width {
            width: 50%;
        }
        .tasks-container {
            display: inline-block;
            padding: 25px 20px 0px 25px;
            vertical-align: top;
            margin: 0;
            background-color: white;
            .fa-circle {
                color: $primary-blue;
                padding-right: 17px;
                font-size: 18px;
            }
            .tasks-list-container {
                list-style-type: none;
                padding: 0;
                margin: 0;
                color: $font-color;
                .task-element {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    border: none;
                    box-shadow: 0px 1px $box-shadow;
                    font-size: 14px;
                    &:hover {
                        background-color: $primary-gray;
                    }
                    .task-content {
                        width: 88%;
                        display: inline-block;
                        vertical-align: top;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-right: 20px;
                    }
                    .fa-star {
                        font-size: 13px;
                        margin-right: 5px;
                        display: inline-block;
                    }
                    .fa-check-circle {
                        color: $primary-blue;
                        padding-right: 17px;
                        font-size: 18px;
                    }
                }
                .empty-element {
                    padding-top: 26px;
                    padding-bottom: 26px;
                    border: none;
                    box-shadow: 0px 1px $box-shadow;
                }
            }
            .category-name {
                color: $primary-blue;
                margin: 0;
                padding-bottom: 10px;
            }
            .task-input-container {
                box-shadow: 0px 1px $box-shadow;
                padding: 0;
                color: $primary-blue;
                .fa-plus {
                    padding: 17px 17px 17px 0;
                }
                ::placeholder {
                    color: $primary-blue;
                }
                .task-input {
                    color: $font-color;
                    border: none;
                    font-size: 14px;
                    margin: 0;
                    padding: 17px 0 17px 0;
                    width: 89%;
                }
                input:focus, textarea:focus, select:focus{
                    outline: none;
                }
                .add-task-button {
                    color: $primary-blue;
                    font-size: 14px;
                    margin-bottom: 17px;
                }
            }
        }
        .steps-container {
            width: 24.5%;
            display: none;
            vertical-align: top;
            margin-left: 4px;
            .steps-head-container {
                width: 95%;
                background-color: white;
                padding-right: 10px;
                margin-top: 10px;
                .steps-head-element {
                    padding: 18px 0px 18px 0;
                    .fa-circle, .fa-check-circle {
                        color: $primary-blue;
                        padding-right: 17px;
                        font-size: 18px;
                        margin-left: 15px;
                    }
                    .task-heading {
                        width: 76%;
                        display: inline-block;
                        margin: 0;
                        vertical-align: top;
                    }
                    .fa-star {
                        font-size: 13px;
                        margin-bottom: 16px;
                        margin-right: 5px;
                    }
                }            
                .step-input-container {
                    .add-step-button {
                        margin-bottom: 10px;
                        color: $primary-blue;
                        font-size: 11px;
                    }
                    .step-input {
                        border: none;
                        width: 71%;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        color: $font-color;
                    }
                    input:focus, textarea:focus, select:focus {
                        outline: none;
                    }
                    .fa-circle, .fa-plus {
                        margin-left: 18px;
                        margin-right: 15px;
                        font-size: 14px;
                    }
                }
                .steps-list-container {
                    list-style-type: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    color: $font-color;
                    .step-element {
                        padding: 0;
                        margin: 0;
                        &:hover {
                            background-color: $primary-gray;
                        }
                        .step-content {
                            display: inline-block;
                            width: 85%;
                            box-shadow: 0px 1px $box-shadow;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: bottom;
                            padding-bottom: 10px;
                            font-size: 13px;
                        }
                        .fa-circle {
                            font-size: 14px;
                            padding: 12px 15px 12px 15px;
                            vertical-align: top;
                        }
                    }
                    
                }
            }
            .other-option {
                width: 95%;
                background-color: white;
                margin-top: 10px;
                padding: 15px 10px 15px 0;
                font-size: 15px;
                color: grey;
                margin-left: 12x;
                .fa-sun {
                    margin-left: 18px;
                    margin-right: 18px;
                }
            }
            .option-container {
                margin-top: 10px;
                font-size: 15px;
                color: grey;
                .far {
                    margin-left: 18px;
                    margin-right: 18px;
                }
                .option-element {
                    width: 95%;
                    background-color: white;
                    padding: 15px 10px 15px 0;
                }
            }
        }
    }
}   